<!-- Header Content -->
<div class="text-center">
    <p>This is Angular Application Application</p>
</div>


<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<footer class="container-fluid bg-4 text-center ">
<p>
        <a [routerLink]="['/login']" target="_top">This is a sample Login & Registration Application</a>
    </p>
  
</footer>

